body{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
}
.header{
    display:flex;
  
   
    
    
    
}
.lheader{
    display:flex;
   
    flex-wrap:wrap;
    width:125px;
    font-size:24px;
    color:#F9FAF8;
    font-weight:bold;
    text-align:center;
    width:10%;
    
}
.lheader img{
    width:125px;
    height:100px;
}
.top{
    background-color:#1F2937;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:10px 50px 40px 50px;
    display:flex;
    flex-direction:column;
    gap:50px;
  
}
.rheader{
    display:flex;
    
    gap:20px;
    width:90%;
    justify-content:flex-end;
    
}
.rheader a{
    text-decoration-line:none;
    font-size:18px;
    color:#E5E7EB;
}
.content{
    display:flex;
    gap:20px;
    
    



}
.rcontent img{
    width:450px;
    height:300px;

}
.lcontent{
    
    width:50%;
    display:flex;
    flex-direction:column; 
    justify-content:center;
    padding:30px;

}
.information{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    font-size:48px;
    color:#F9FAF8;
}
.paragraph{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    color:#E5E7Eb;
}
.buttons{
    
    padding:3px;
}
.buttons button{
    padding:7px 30px 7px 30px;
    background-color:#3882f6;
    color:#f9faf8;
    font-weight:bold;
    border-radius:5px;
    border:3px solid white;
    
}
.reviewcontainer img{
    width:150px; 
    height:150px;
    

}
.reviewcontainer{
    display:flex;
   
    flex-wrap:wrap;
    gap:30px;
    justify-content:center;
   
    
}
.cute{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
   
    display:flex;
    justify-content:center;
    margin:20px;
    padding:30px;
    justify-content:center;
}
.grey div{
    width:150px;
    height:150px;
}
.brown div{
    width:150px;
    height:150px;
}
.white div{
    width:150px;
    height:150px;
}
.black div{
    width:150px;
    height:150px;
}
.quote{
    background-color:#E5E7EB;
    height:300px;
}
.quote p{
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    padding-left:150px;
    padding-right:150px;

    
}
.by{
    display:flex;
    font-size:36px;
    justify-content:flex-end;
    padding-right:150px;
}
.call{
    
    margin:50px;
    padding:50px;
    padding-left:40px;
    padding-right:40px;
    background-color:#3882F6;
    color:#f9faf8;
    border-radius:10px;
    margin-bottom:70px;

}
.sign{
    display:flex;
    gap:300px;
    align-items:flex-start;
}
.button button{
    padding:7px 30px 7px 30px;
    background-color:#3882f6;
    color:#f9faf8;
    font-weight:bold;
    border-radius:5px;
    border:3px solid white;
    
    
}
.action{
    font-weight:bold;
    font-size:24px;
    margin:1px;
}
.button{
   
    margin-top:-30px;
}
.footer{
    background-color:#1f2937;
    display:flex;
    justify-content:center;
    color:#E5E7EB;
    height:90px;
    align-items:center;
  
    
    

}










